@CHARSET "ISO-8859-1";
.clearfix:after {
				visibility:hidden;
				display:block;
				font-size:0;
				content: ".";
				clear:both;
				height:0;
				line-height:
			}
			.clearfix {
				display: inline-block;
			}
			* html .clearfix {
				height: 1%;
			}
			/*.bubble-list .bubble img {
				margin-left:200px;
			/*	float:left;*/
				width:20px;
				height:20px;
				border:3px solid #ffffff;
				border-radius:50px

			}*/
			
			.bubble-list{
			left:10px;
			}
			#cmt_image{
			width:60px;
			height:60px;
			border:2px solid black;
			/*float:left;*/
			border-radius:5px;
			margin-left: 250px;
			
			}
			
			.bubble-content {
				position:relative;
				float:left;
				margin-left:5px;
				width:400px;
				padding:0px 20px;
				border-radius:10px;
				background-color:#FFFFFF;
				box-shadow:1px 1px 5px rgba(0,0,0,.2);
			}

			.bubble {
				margin-top:20px;
			}
			.point {
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right: 12px solid #FFF;
				position:absolute;
				left:-10px;
				top:12px;
			} 