@CHARSET "ISO-8859-1";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #2799c5;
    position: absolute;
    height: 100%;
    overflow: auto;
    text-align:left;
}

li a {
    display: block;
    
    color: white;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-family:sans-serif;
	font-size:25px;
}

li a.active {
    background-color: black;
    color: white;
    font-size:40px;
}

li a:hover:not(.active) {
    background-color: black;
    color: white;
}
